@model CRUDUsingMVCwithAdoDotNet.Models.ViewModel

<h2>Ajax Demo</h2>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4 form-horizontal">
                <div class="form-group">
                    <label class="col-md-6">State</label>
                    <div class="col-md-6">
                        <select id="stateDropDownList" class="form-control">
                            <option value="Select">Select</option>
                            @foreach (var item in Model.StateModel)
                            {
                                <option value=@item.StateId>@item.StateName</option>

                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6">District</label>
                    <div class="col-md-6">
                        <select id="districtDropDownList" class="form-control">
                            <option value="Select">Select State</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6">Local Unit</label>
                    <div class="col-md-6">
                        <select id="localUnitDropDownList" class="form-control">
                            <option value="Select">Select District</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script type="text/javascript">
        //get district  list by state id
        $("#s").removeAttr('disabled');
        $(document).ready(function () {
            $("#stateDropDownList").on("change", function () {
                $.ajax({
                    url: "/Employee/GetDistrict",
                    type: "GET",
                    dataType: "json",
                    data: { id: $("#stateDropDownList").val() },
                    success: function (data) {
                        $("#districtDropDownList").html("");
                        $("#localUnitDropDownList").html("");
                        $("#districtDropDownList").append("<option value='0'>Select District</option>");
                        $("#localUnitDropDownList").append("<option value='0'>Select Local Unit</option>");
                        $.each(data, function (i, val) {

                            $("#districtDropDownList").append("<option value=\"" + val.DistrictId + "\">" + val.DistrictName + "</option>");
                        });
                    }
                })
            })
            //get local unit my district id
            $("#districtDropDownList").on("change", function () {
                $.ajax({
                    url: "/Employee/GetLocalUnit",
                    type: "GET",
                    dataType: "json",
                    data: { id: $("#districtDropDownList").val() },
                    success: function (data) {
                        $("#localUnitDropDownList").html("");
                        $("#localUnitDropDownList").append("<option value='0'>Select Local Unit</option>");
                        $.each(data, function (i, val) {

                            $("#localUnitDropDownList").append("<option value=\"" + val.LocalUnitId + "\">" + val.LocalUnitName + "</option>");
                        });
                    }
                })
            })
        });



    </script>

}
